<%= render 'layouts/header' %>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="sidebar col-lg-5 col-lg-offset-7 col-md-4 col-md-offset-8 col-sm-12">
                <p class= "hero">BUY<br>FIX<br>PROFIT</p>
                <p class="lead">We are the "Not So Hard" Money Lender!<br>Discover our Fast and Creative Financing Solutions for<br> Real Estate Investors NATIONWIDE!</p>
                <br>
                <%= link_to '<button type="button" class="btn btn-lg btn-deal">GET FUNDING</button>'.html_safe, practice_app1_path %>
            </div>
        </div>
    </div>
</div>

    <div class="hero2">
<div class="container">
    <h1>Getting Started is Fast & Easy</h1>
    <p>Efficiently raise money from your real estate project <br>today.  Let us prove that rehab funding doesn't have to be painful.</p>
    <div class="row">
      <div class="col-md-4 img">
        <%= image_tag("img7.png",  :alt => "Responsive image") %>  
        <h3>Complete Simple Application</h3>
        <p>We’ve designed our application process to be quick and painless.  We walk you through a series of questions that will give us a clear understanding of your deal and the best ways we can help to accomplish your investing goals.</p>
      </div> 
      <div class="col-md-4">
       <%= image_tag("img8.png",  :alt => "Responsive image") %>  
        <h3>Get Funded</h3>
        <p>Once you complete the online form you will be assigned an account manager that will help your loan get to the finish line.  Although each client has different circumstances, we strive to have loans funded within 3 weeks or sooner. </p>
      </div>
      <div class="col-md-4">
        <%= image_tag("img9.png",  :alt => "Responsive image") %>  
        <h3>Grow Your Business</h3>
        <p>A successful deal or two can make you rich…Multiple successful deals can make you WEALTHY! Let our team help you map out a strategy to dominate your local market.  If you can imagine it, we can fund it. </p>
      </div>  
 </div><!--close row-->
        <p class="btmcta">What are you waiting for <%= link_to 'become a FlipBank PRO', practice_app1_path %></p>
        <br>
   
</div><!--close container-->
</div>
    <!--row 2-->
    
    <!--
        
    <div class="row">
        <div class="col-md-4">
        <span class="fa fa-line-chart" aria-hidden="true"></span>
        <h3>Creative Solutions</h3>
        <p>From idea-stage startups to real estate partnerships, there are plenty of businesses to buy into.</p>
        </div>
        
        <div class="col-md-4">
        <span class="fa fa-check-square-o" aria-hidden="true"></span>
        <h3>Full Service</h3>
        <p>We're not just introducers.  Our team handles all documentation, admin and payment for both investors and businesses.</p>
        </div>
        
        <div class="col-md-4">
        <span class="fa fa-commenting" aria-hidden="true"></span>
        <h3>Ongoing investor relations</h3>
        <p>Investors and businesses can easily keep-in-touch, online and off, through the investment lifecycle.</p>
        </div>
    </div><!--close row 2-->
    
    
<!--    
    <div class="process">
        
        <h3>If you can dream it...we can fund it</h3>
        <div class="row">
            
            <div class="col-md-6">
                
                
                <span class="glyphicon glyphicon-ok"></span>&nbsp;<p="callout"> Whether you are a wholesaling, flipping, rehabbing or buying to hold, we offer solutions to fit your criteria</p>
                <span class="glyphicon glyphicon-ok"></span>&nbsp;<p="callout"> Equity based: we fund based on the deal - bring us a good deal and we will work to get it funded!</p>
                <span class="glyphicon glyphicon-ok"></span>&nbsp;<p="callout"> Application process is Quick and easy. Apply today. Get funded fast!</p>
                <span class="glyphicon glyphicon-ok"></span>&nbsp;<p="callout"> We are the largest private money lender in the country! We only work with real estate investors.</p>
                <h3>We get it! We provide the house flipping loans you need.  Fast and easy!</h3>
            </div>
   </div>
</div>
</div>
   --> 
   
 <!--CTA-->

<div class="ctabox1">
    <h2>Get a personalized loan in 5 minutes.</h2>
    <p>Provide some basic information and we will customize a loan for your unique scenrio. We make the process simple and easy.  We're a reliable lender you can trust.</p>
    <%= link_to '<button type="button" class="btn btn-lg btn-success">Get Funding <span class="glyphicon glyphicon-chevron-right"></span></button>'.html_safe, practice_app1_path %>
    <p>All submitted information is safe and secure.</p>
</div>  
<!--Products offered-->
<div class="sec2">
    <div class="container">
    <h3 class="center">Choose Your <strong>Funding Solution</strong></h3><br>
    <div class="row">
       
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Investor Purchase Funding</h3>
        <div class="ratebar well">
        <h1>8.5% - 13%</h1>
        <p class="ratelead">INTEREST ONLY</p>
        </div><br>
        <p>Up to 90% of Purchase Price </p><hr>
        <p>12 Month Term</p><hr>
        <p>No Pre-Payment Penalty</p><hr>
        <p>FAST CLOSING</p><hr>
        <p class="callout">Will Fund Entity or Individual</p><hr>
        
        <p><%= link_to '<button type="button" class="btn btn-sm btn-primary">GET FUNDING NOW</button>'.html_safe, practice_app1_path %></p>
      </div>
    </div>
  </div>
        <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Rehab Loans</h3>
        <div class="ratebar well">
        <h1>9.5% - 13%</h1>
        <p class="ratelead">INTEREST ONLY</p>
        </div><br>
        <p>Purchase or Refi </p><hr>
        <p>Fund up to 100% of Rehab Cost</p><hr>
        <p>Loans up to $5 million</p><hr>
        <p>Flexible Draws</p><hr>
        <p class="callout">Fund up to 70% of ARV</p><hr>
        
        <p><%= link_to '<button type="button" class="btn btn-sm btn-primary">GET FUNDING NOW</button>'.html_safe, practice_app1_path %></p>
      </div>
    </div>
  </div>
        <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Term Loans</h3>
        <div class="ratebar well">
        <h1>Starting at 7%</h1>
        <p class="ratelead">FULLY AMORTIZING</p>
        </div><br>
        <p>We Lend Nationwide</p><hr>
        <p>Loans up to $50 million</p><hr>
        <p>30 Year Terms</p><hr>
        <p>Blanket multiple properties under 1 loan</p><hr>
        <p class="callout">Residential and Commercial</p><hr>
        
        <p><%= link_to '<button type="button" class="btn btn-sm btn-primary">GET FUNDING NOW</button>'.html_safe, practice_app1_path %></p>
      </div>
    </div>
  </div>
    </div>
</div>
</div>


<!--
<div class="sec3 center">
    <div class="row">
        <div class="col-md-5">
            
            <h2>Is it REALLY a good deal?</h2>
            <p>Use the FlipBank Analyzer to find out</p><br>
            <p>Never do another bad deal again!</p><br>
            <%#= link_to '<button type="button" class="btn btn-lg btn-success">Use the FlipBank Analyzer</button>'.html_safe, about_path %>
        </div>
        <div class="col-md-7">
            <%#= image_tag("macbook.jpeg", size: "100%") %>
        </div>
    </div>
</div>

<div class="ctabox2">
    <h3>Know Your Numbers! Get a Sample Term Sheet before you submit the offer.</h3>
    <%#= link_to '<button type="button" class="btn btn-lg btn-success">Click Here to Request Funding</button>'.html_safe, about_path %>
    
</div>
<!--project examples and testimonials-->
<!--
<div class="center sec4">
    <div class="container">
    <h2>Want to take your Flipping career to the next level?</h2>
    <p class="flippro">Let us help you go from flipping one or two deals a year to 10+ per month.  We offer experienced flippers the resources and guidance to do more deals with lower capital costs.  We can fund deals from $150K to $50 million.  Register now to learn more.</p>
    <h3>Do You have what it takes to be a FlipBank PRO?</h3><br>
    <%#= link_to '<button type="button" class="btn btn-lg btn-success">Become a FlipBank PRO Today</button>'.html_safe, about_path %>
    </div>
</div>

<div class="center sec4">
    <div class="container">
    <h2>SELL YOUR HOME TO OUR INVESTORS!</h2>
    <p class="flippro">Do you have a diamond in the rough?</p>
    <p>Get your distress property or home needing rehab in front of hundreds or pre-approved investors!</p>
    <br>
    <%#= link_to '<button type="button" class="btn btn-lg btn-success">Start Here</button>'.html_safe, about_path %>
    </div>
</div>


<!--Rehab Buyers Club Link
<div class="projects center">
    <h3>Searching for great deals?</h3>
    <p>Get access to top deals before they hit the market</p>
    <h3>Rehab Buyers Club Logo</h3>
    <%#= link_to '<button type="button" class="btn btn-lg btn-primary">Join The Rehab Buyers Club</button>'.html_safe, about_path %>
</div>
-->
</div>



<%= render 'layouts/footer' %>  