<%= render 'layouts/header' %>

<div class="container text-center">
    <h1>Products</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body"><%= link_to 'Rehab Loans', prod_1_path %></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body"><%= link_to 'Term Lending', prod_2_path %></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body"><%= link_to 'Bridge Funding', prod_3_path %></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body"><%= link_to 'Commercial Loans', prod_4_path %></div>
            </div>
        </div>
    </div>
    <div class="tutorbox">
        <iframe src="https://youtu.be/toVTP-vcsk8" width="800" height="500" align="middle">
        </iframe>
    </div>
    <div class="takeaway">
        <h4>Key Takeaways</h4>
        <p>Point #1 - Explaination</p>
        <p>Point #1 - Explaination</p>
        <p>Point #1 - Explaination</p>
        <p>Point #1 - Explaination</p>
        <br>
        <p>A thorough explaination on the topic. A thorough explaination on the topic. A thorough explaination on the topic. A thorough explaination on the topic. A thorough explaination on the topic. A thorough explaination on the topic. </p>
        <br>
        <%= link_to '<button type="button" class="btn btn-lg btn-deal">GET FUNDING</button>'.html_safe, about_path %>
    </div>
</div><br><br><br>

<%= render 'layouts/footer' %> 